[variables]
NIXPACKS_NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = ["npm cache clean --force", "npm ci --omit=dev --no-audit --no-fund --loglevel=verbose"]

[phases.build]
cmds = ["npm run build"]
